
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<div id="map"></div>

<ion-content>
<ion-list>
  <!-- INFORMACION DEL RESTAURANTE
  <ion-list-header>
    Información
  </ion-list-header>
   DISTRITO 
  <ion-item>
    <ion-label>Distrito:</ion-label>
    <ion-label>{{distrito}}</ion-label>
  </ion-item>
  DIRECCION
  <ion-item>
    <ion-label>Dirección:</ion-label>
    <ion-label>{{direccioninfo}}</ion-label>
  </ion-item>
  REFERENCIA
  <ion-item>
    <ion-label>Referencia:</ion-label>
    <ion-label>{{referencia}}</ion-label>
  </ion-item> -->

  <!-- HORARIO DE ATENCIÓN -->
  <ion-list-header>
    Horario de atención
  </ion-list-header>
  <ion-item>
    <ion-label>{{hora1}}</ion-label>
    <ion-label>Hasta</ion-label>
    <ion-label>{{hora2}}</ion-label>
  </ion-item>
</ion-list>


<!-- PLATOS A LA CARTA -->
<ion-list>
  <ion-list-header>
    Platos a la Carta
  </ion-list-header>
  <ion-item *ngFor="let plato of platos" > 
    <ion-avatar slot="start"> 
      <ion-icon name="pizza-outline"></ion-icon>
    </ion-avatar>
    <ion-label >
      <h2>{{plato.nombreplato}}</h2>
      <h3>{{plato.descripcion}}</h3>
      <p>S/. {{plato.precio}}</p>
    </ion-label>
    <ion-button  (click)="AgregarPedido(plato.idplatocarta,'C')">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>  
  </ion-item>
</ion-list>
<!-- MENU DEL DIA -->
<ion-list>
  <ion-list-header>
    Menu del día
  </ion-list-header>
  <ion-item *ngFor="let menu of menus">
    <ion-avatar slot="start">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>{{menu.nombreplato}}</h2>
      <!-- <h3>{{plato.descripcion}}</h3> -->
      <p>S/. {{menu.precios}}</p>
    </ion-label>
    <ion-button  (click)="AgregarPedido(menu.iddetallemenu,'M')">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>  
  </ion-item>
</ion-list>
<!-- PRODUCTOS -->
<ion-list>
  <ion-list-header>
    Productos
  </ion-list-header>
  <ion-item *ngFor="let producto of productos">
    <ion-avatar slot="start">
      <ion-icon name="beer-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>{{producto.producto}}</h2>
      <!-- <h3>{{plato.descripcion}}</h3> -->
      <p>S/. {{producto.precio}}</p>
    </ion-label>
    <ion-button  (click)="AgregarPedido(producto.iddetalle_producto,'P')">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>  
  </ion-item>
</ion-list>


</ion-content>
