<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sedes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- href="/tabs/home/productrestaurantes/{{direccion.iddireccion}}"  -->
    <ion-item *ngFor="let direccion of direcciones" routerLink='{{direccion.iddireccion}}'  >
      <ion-avatar slot="start">
        <img src="assets/icon/gps.png">
      </ion-avatar>
      <ion-label>
          <h2>{{direccion.referencia}}</h2>
          <h3>{{direccion.direccion}}</h3>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
