.icon{
    max-width: 24vh;
    display: block;
    margin: 0 auto;
}

.text-danger{
    color: #cf3c4f;
}

.google{
    --background: #DB4437;
}

.facebook{
    --background:#4267B2;
}

.vertical-center{ 
    display: flex; 
    // align-items: center; 
    padding-top: 18%;
    justify-content: center; 
    height: 100%; 
} 


.footer-login{
    padding-bottom: 18%;
    padding-left: 10%;
    padding-right: 10%;
}

ion-input, ion-item{
    --background: transparent;
}
