<ion-content class="ion-padding" class="back-claro">

  <div class="vertical-center"> 
    <div class="center"> 
      <ion-img src="assets/icon/scooter.svg" class="ion-align-self-end icon"></ion-img> 
    </div> 
  </div> 
</ion-content>

<ion-footer class="ion-no-border footer-login back-claro ">
  <ion-toolbar class="back-claro">

    <form autocomplete="off" (ngSubmit)="doLogin(f)" #f="ngForm">
      <ion-item>
        <ion-label position="stacked" > Correo electrónico</ion-label>
        <ion-input required type="email" #usuario="ngModel" ngModel name="usuario" placeholder="example@correo.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" > Contraseña</ion-label>
        <ion-input required type="password" #clave="ngModel" ngModel name="clave" ></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top border-radius" color="primary" type="submit" expand="block">Iniciar Sesión</ion-button>
    </form>
  <!-- <h6>{{token}}</h6> -->
    <!-- <h6>{{response}}</h6>  -->
      
    
    <ion-grid >
      <ion-row>
        <ion-col col-6 no-padding>
          <ion-button class="google border-radius" expand="block" (click)="loginGoogle()"  >
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
          
        </ion-col> 
        <ion-col col-6 no-padding>
          <ion-button class="facebook border-radius" expand="block" (click)="loginFacebook()" no-margin>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </ion-col> 
        
      </ion-row>
    </ion-grid> 
    
      

  </ion-toolbar>
</ion-footer>

  <!-- <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>Olvidé mi Contraseña</small></a>
  </div> -->

