<ion-header>
  <ion-toolbar>
    <ion-title>Mis Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> 

  <ion-card routerLink='pedidosconfirmar'>
    <img src="assets/shapes.svg" />
    <ion-card-header class="text-center">
      <ion-card-title>Pedidos por confirmar</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/shapes.svg" />
    <ion-card-header class="text-center">
      <ion-card-title>Pedidos en espera</ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>
