<ion-header>
  <ion-toolbar>
    <ion-title>direccionesusuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="CerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map2"></div>
  <ion-grid>
    <ion-row>
      <ion-col width-50 style="text-align: center">
          <ion-button (click)="getCurrentCoordinates()">
            <ion-icon name="navigate-circle-outline"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid>

  <form (ngSubmit)="guardarDireccion(f)" #f="ngForm" novalidate>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nombre Dirección <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" #descripcion="ngModel" ngModel name="descripcion" placeholder="Mi casa" ></ion-input>
      </ion-item>
     
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Guardar</ion-button>
    </div>
  </form>



    {{lng}} | {{lat}}
</ion-content>
