<ion-header>
  <!-- <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar> -->
<ion-searchbar></ion-searchbar>

</ion-header>

<ion-content class="ion-padding">

  {{rest}}

  <ion-grid>
    <ion-row>
        <ion-col *ngFor="let restaurante of restaurantes" size="6" no-padding no-margin>

          <ion-card no-padding  routerLink='direccionesempresas/{{restaurante.idempresa}}' class="card">
            <img src="{{restaurante.img}}" class="imagenes">
            <ion-card-header>
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              <ion-card-subtitle>{{restaurante.nombre_comercial}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>

        </ion-col> 
    </ion-row> 
  </ion-grid>
</ion-content>





