<ion-content padding class="back-primary">

  <div class="vertical-center"> 
      <div class="center"> 
        <ion-img src="assets/icon/scooter.svg" class="ion-align-self-end icon"></ion-img> 
      </div> 
  </div> 


</ion-content>

<ion-footer class="ion-no-border footer-login back-primary">
  <ion-toolbar class="back-primary">
      <ion-button expand="block" color="light" class="border-radius" href="/login">Iniciar Sesión</ion-button>
      <ion-button expand="block" color="light" class="border-radius" href="/registrarusuario">Registrarme</ion-button>
  </ion-toolbar>
</ion-footer>