.vertical-center{ 
    display: flex; 
    // align-items: center; 
    padding-top: 20%;
    justify-content: center; 
    height: 100%; 
} 

.icon{
    max-width: 30vh;
    display: block;
    margin: 0 auto;
}

.footer-login{
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

